<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LtGt" version="1.0.2" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="xamarinios10" />
  <package id="Plugins.Forms.ButtonCircle" version="2.0.3" targetFramework="xamarinios10" />
  <package id="Sprache" version="2.2.0" targetFramework="xamarinios10" />
  <package id="System.Globalization" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Linq" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime" version="4.3.1" targetFramework="xamarinios10" />
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="xamarinios10" />
  <package id="Xam.FormsPlugin.Iconize" version="1.0.10" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Iconize" version="3.5.0.129" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Iconize.Material" version="3.5.0.129" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Iconize.SimpleLineIcons" version="3.5.0.129" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Forms.ImageCircle" version="3.0.0.5" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Notifier" version="3.0.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="4.3.0.947036" targetFramework="xamarinios10" />
  <package id="Xamarin.Plugins.Clipboard" version="2.2.1" targetFramework="xamarinios10" />
  <package id="YoutubeExplode" version="4.7.10" targetFramework="xamarinios10" />
</packages>